.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.site {
  background: $orange;
  padding-top: 10px;
  width: 100%;

  .body {
    align-items: center;
    background: $white;
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .linear-gradient {
      background: linear-gradient(transparent, $orange, transparent);
      height: 250px;
      margin: 0 30px;
      width: 3px;
    }
  }

  .features {
    background: $light-gray;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    position: relative;
    
    &:before {
      background-image: url('triangle.png');
      content: '';
      height: 12px;
      position: absolute;
      top: -12px;
      width: 100%;
    }

    .feature {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40px 80px;

      .feature-title {
        color: $dark-gray;
        font-size: 16px;
        padding: 10px 0;
      }

      .feature-description {
        color: $gray;
      }
    }
  }
}
