.first-section {
  align-items: center;
  border-top: 10px solid $orange;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.vertical-separator {
  background: linear-gradient(transparent, $orange, transparent);
  height: 250px;
  margin: 0 30px;
  width: 3px;
}
